<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/test.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>상품</title>
</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="teaFinder_bt">마이티</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button th:if="${user == null}" class="login_bt">로그인</button>
            <button class="myoncha_bt">마이온차</button>
        </div>
    </div>
        <hr>
    
<div><img src="/img/StoreBanner.png"></div>

<div class="best_tea_container">
    <h1>베스트 차</h1>
        <div class="inner">
            <div class="inner">
                <a><div class="product_inner"><img src="/img/store/상품1-3.png">
                    <p class="type">싱글오리진</p>
                    <p class="title">얼그레이</p>
                    <strong>12,000원</strong><br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
           </div></a>
                      <div class="product_inner"><img src="/img/store/상품2-3.png">
                        <p class="type">블렌딩</p>
                        <p class="title">고요한 바다를 담은 숲</p>
                    <strong>27,000원</strong><br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>856</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 1,237</span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                      </div>
                          <div class="product_inner"><img src="/img/store/상품3-3.png">
                            <p class="type">싱글오리진</p>
                            <p class="title">제주 녹차</p>
                    <strong>31,000원</strong><br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>23</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 65</span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                    </div>
                          <div class="product_inner"><img src="/img/store/상품4-3.png">
                            <p class="type">뉴타입</p>
                            <p class="title">그대의 눈빛에 차 한잔을 담으며 눈빛 너머 추억에 스며든다</p>
                    <strong>43,000원</strong><br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>2,146</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 2,915</span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                    </div>
            <!--<tr th:each="prdocutList:${product}">
                <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                    <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
                   <td th:text="${prdocutList.getTitle()}"></td>
                    <td th:text="${prdocutList.getProduct_name()}"></td>
                <td th:text="${prdocutList.getLike()}"></td>
                <td th:text="${prdocutList.getView()}"></td>
                </a>
            </tr>
        -->
    </div>
</div>
<div class="middle_banner"><img src="/img/TeaFindBanner.png"></div>

<hr>

<div class="single_origin_contanier">
    <h1>싱글오리진</h1>
    <div class="inner">
        <a><div class="product_inner"><img src="/img/store/상품1-2.png">
            <p class="type">싱글오리진</p>
            <p class="title">얼그레이</p>
            <strong>12,000원</strong><br>
            <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
            <a class="like_bt"><img src="/img/icons/Vector.png"></a>
   </div></a>
              <div class="product_inner"><img src="/img/store/상품2-2.png">
                <p class="type">블렌딩</p>
                <p class="title">고요한 바다를 담은 숲</p>
            <strong>27,000원</strong><br>
            <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>856</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 1,237</span>
            <a class="like_bt"><img src="/img/icons/Vector.png"></a>
              </div>
                  <div class="product_inner"><img src="/img/store/상품3-2.png">
                    <p class="type">싱글오리진</p>
                    <p class="title">제주 녹차</p>
            <strong>31,000원</strong><br>
            <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>23</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 65</span>
            <a class="like_bt"><img src="/img/icons/Vector.png"></a>
            </div>
                  <div class="product_inner"><img src="/img/store/상품4-2.png">
                    <p class="type">뉴타입</p>
                    <p class="title">그대의 눈빛에 차 한잔을 담으며 눈빛 너머 추억에 스며든다</p>
            <strong>43,000원</strong><br>
            <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>2,146</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 2,915</span>
            <a class="like_bt"><img src="/img/icons/Vector.png"></a>
            </div>
        <!--<tr th:each="prdocutList:${product}">
            <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
               <td th:text="${prdocutList.getTitle()}"></td>
                <td th:text="${prdocutList.getProduct_name()}"></td>
            <td th:text="${prdocutList.getLike()}"></td>
            <td th:text="${prdocutList.getView()}"></td>
            </a>
        </tr>
    -->
</div>
</div>
<hr>
<div class="blending_container">
    <h1>블렌딩</h1>
    <div class="inner">
        <div class="inner">
            <a><div class="product_inner"><img src="/img/store/상품1-1.png">
                <p class="type">싱글오리진</p>
                <p class="title">얼그레이</p>
                <strong>12,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
       </div></a>
                  <div class="product_inner"><img src="/img/store/상품2-1.png">
                    <p class="type">블렌딩</p>
                    <p class="title">고요한 바다를 담은 숲</p>
                <strong>27,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>856</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 1,237</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                  </div>
                      <div class="product_inner"><img src="/img/store/상품3-1.png">
                        <p class="type">싱글오리진</p>
                        <p class="title">제주 녹차</p>
                <strong>31,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>23</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 65</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div>
                      <div class="product_inner"><img src="/img/store/상품4-1.png">
                        <p class="type">뉴타입</p>
                        <p class="title">그대의 눈빛에 차 한잔을 담으며 눈빛 너머 추억에 스며든다</p>
                <strong>43,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>2,146</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 2,915</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div>
        <!--<tr th:each="prdocutList:${product}">
            <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
               <td th:text="${prdocutList.getTitle()}"></td>
                <td th:text="${prdocutList.getProduct_name()}"></td>
            <td th:text="${prdocutList.getLike()}"></td>
            <td th:text="${prdocutList.getView()}"></td>
            </a>
        </tr>
    -->
</div>
</div>
<hr>
<div class="newType_container">
<h1>뉴타입</h1>
    <div class="inner">
        <div class="inner">
            <a><div class="product_inner"><img src="/img/store/상품1.png">
                <p class="type">싱글오리진</p>
                <p class="title">얼그레이</p>
                <strong>12,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
       </div></a>
                  <div class="product_inner"><img src="/img/store/상품2.png">
                    <p class="type">블렌딩</p>
                    <p class="title">고요한 바다를 담은 숲</p>
                <strong>27,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>856</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 1,237</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                  </div>
                      <div class="product_inner"><img src="/img/store/상품3.png">
                        <p class="type">싱글오리진</p>
                        <p class="title">제주 녹차</p>
                <strong>31,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>23</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 65</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div>
                      <div class="product_inner"><img src="/img/store/상품4.png">
                        <p class="type">뉴타입</p>
                        <p class="title">그대의 눈빛에 차 한잔을 담으며 눈빛 너머 추억에 스며든다</p>
                <strong>43,000원</strong><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>2,146</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 2,915</span>
                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div>
        <!--<tr th:each="prdocutList:${product}">
            <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
               <td th:text="${prdocutList.getTitle()}"></td>
                <td th:text="${prdocutList.getProduct_name()}"></td>
            <td th:text="${prdocutList.getLike()}"></td>
            <td th:text="${prdocutList.getView()}"></td>
            </a>
        </tr>
    -->
</div>
</div>




<div id="coinfo_container">
    <div class="coinfoinner">
        <img src="/img/Logo.png">
        <p>E-mail : oncha.minji@gmail.com</p>
        <p>Copyright 2023 Oncha</p>
    </div>
</div>

</div>    
</body>
<script src="/js/Tindex.js"></script>
<script src="/js/buttonManager.js"></script>
</html>