<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/css/store.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>상품</title>
</head>
<body>
<header>
    <section class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="myoncha_bt">마이온차</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">매거진</button>
        </div>
        <div class="right">
            <input class="search" type="text" >
            <button th:if="${user == null}" class="login_bt">로그인</button>
            <span class="login" th:unless="${user==null}">
            <button class="cart_bt"><img src="/img/cart.png"></button>
            <a  th:href="@{/mypage/{id}(id =${user.id})}">
               <!--<img th:src="@{|${user.list.get(0).getUrl()}|}" alt="">-->마이페이지</a>ㅣ<a href=" http://oncha.kr/logout">로그아웃</a>
            </span>
        </div>
    </section>
    <section class="m_topBarContainer">
        <div><button class="index_bt"><img src="/img/icons/back.png"></button><label th:text="test"></label></div>
        <div><button class="search_bt"><img src="/img/icons/search.png"></button>
            <button class="cart_bt"><img src="/img/cart.png"></button></div>
    </section>
    </div>
</header>
    <hr>
<main>
    <div class="store_filter_wrap">
        <table>
            <tr>
                <th data-key="blending">블렌딩</th>
                <td><input type="checkbox" value="blended" name="blended" class="filter-checkbox" id="blended"><label for="blended">블렌디드</label>
                    <input type="checkbox" value="single_origin" name="single_origin" class="filter-checkbox" id="single_origin"><label for="single_origin">싱글오리진</label>
                    <input type="checkbox" value="new_type" name="new_type" class="filter-checkbox" id="new_type"><label for="new_type">뉴타입</label></td>
            </tr>
            <tr>
                <th data-key="tea_type">차종</th>
                <td><input type="checkbox" value="green_tea" name="green_tea" class="filter-checkbox" id="green_tea"><label for="green_tea">녹차</label>
                    <input type="checkbox" value="black_tea" name="black_tea" class="filter-checkbox" id="black_tea"><label for="black_tea">홍차</label>
                    <input type="checkbox" value="white_tea" name="white_tea" class="filter-checkbox" id="white_tea"><label for="white_tea">백차</label>
                    <input type="checkbox" value="yellow_tea" name="yellow_tea" class="filter-checkbox" id="yellow_tea"><label for="yellow_tea">황차</label>
                    <input type="checkbox" value="blue_tea" name="blue_tea" class="filter-checkbox" id="blue_tea"><label for="blue_tea">청차</label>
                    <input type="checkbox" value="herb_tea" name="herb_tea" class="filter-checkbox" id="herb_tea"><label for="herb_tea">허브차</label></td>
            </tr>
            <tr>
                <th data-key="caffeine">카페인</th>
                <td><input type="checkbox" value="true" name="isCaffeine" class="filter-checkbox" id="isCaffeine"><label for="isCaffeine">유</label>
                    <input type="checkbox" value="false" name="noCaffeine" class="filter-checkbox" id="noCaffeine"><label for="noCaffeine">무</label></td>
            </tr>
            <tr>
                <th data-key="category">유형</th>
                <td><input type="checkbox" value="liquid" name="liquid" class="filter-checkbox" id="liquid"><label for="liquid">액상</label>
                    <input type="checkbox" value="leaf_tea" name="leaf_tea" class="filter-checkbox" id="leaf_tea"><label for="leaf_tea">잎차</label>
                    <input type="checkbox" value="tea_bag" name="tea_bag" class="filter-checkbox" id="tea_bag"><label for="tea_bag">티백</label>
                    <input type="checkbox" value="syrup" name="syrup" class="filter-checkbox" id="syrup"><label for="syrup">청</label>
                    <input type="checkbox" value="powder" name="powder" class="filter-checkbox" id="powder"><label for="powder">가루</label></td>
            </tr>
            <tr>
                <th data-key="flavor">향미</th>
                <td><input type="checkbox" value="floral" name="floral" class="filter-checkbox" id="floral"><label for="floral">플로럴</label>
                    <input type="checkbox" value="citrus" name="citrus" class="filter-checkbox" id="citrus"><label for="citrus">시트러스</label>
                    <input type="checkbox" value="fruity" name="fruity" class="filter-checkbox" id="fruity"><label for="fruity">프루티</label>
                    <input type="checkbox" value="smokey" name="smokey" class="filter-checkbox" id="smokey"><label for="smokey">스모키</label>
                    <input type="checkbox" value="caramel" name="caramel" class="filter-checkbox" id="caramel"><label for="caramel">카라멜</label>
                    <input type="checkbox" value="nutty" name="nutty" class="filter-checkbox" id="nutty"><label for="nutty">너티</label>
                    <input type="checkbox" value="mint" name="mint" class="filter-checkbox" id="mint"><label for="mint">민트</label>
                    <input type="checkbox" value="spicy" name="spicy" class="filter-checkbox" id="spicy"><label for="spicy">스파이시</label></td>
            </tr>
            <tr>
                <th data-key="flavor2">맛과 향</th>
                <td class="check_flavor">
                    <label>Savory [향긋한]</label>
                    <input type="radio" class="check_flavor filter-checkbox" name="Savory" id="Savory_0" value="0"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Savory" id="Savory_1" value="1"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Savory" id="Savory_2" value="2">
                    <br>
                    <label>Acidity [산미있는]</label>
                    <input type="radio" class="check_flavor filter-checkbox" name="Acidity" id="Acidity_0" value="0"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Acidity" id="Acidity_1" value="1"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Acidity" id="Acidity_2" value="2">
                    <br>
                   <label>Bitter [쌉싸름한]</label>
                    <input type="radio" class="check_flavor filter-checkbox" name="Bitter" id="Bitter_0" value="0"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Bitter" id="Bitter_1" value="1"> ----
                    <input type="radio" class="check_flavor filter-checkbox" name="Bitter" id="Bitter_2" value="2">
                </td>

            </tr>
        </table>
        <div class="tags-wrapper">

        </div>
    </div>
    <div class="check_product_wrap">
        <div class="check_product_wrap_left">
            <label>0개</label>
            <button class="ranking_bt">랭킹순</button>
            <button class="new_product_bt">신규등록순</button>
            <button class="row_price_bt">낮은가격순</button>
            <button class="hight_price_bt">높은가격순</button>
            <button class="many_reviews_bt">상품평많은수</button>
            <button class="sale_rate_bt">판매량수</button>
        </div>
        <div class="check_product_wrap_right">
            <button>40개씩보기</button>
            <button>ㅁㅁ</button>
            <button>ㅁ</button>
        </div>
    </div>
        <div class="product_Container">
        <div class="inner">
            <tr th:each="productList:${product}">
                <a th:href="@{/store/{id}(id =${productList.id})}"><div class="product_inner" onmouseover="showLikeButton(this)" onmouseout="hideLikeButton(this)" >
                    <img th:src="@{|${productList.list.get(0).getUrl()}|}" alt="">
                    <p class="type" th:text="${productList.type}"></p>
                    <p class="title" th:text="${productList.title}"></p>
                    <p class="price" th:text="|${#numbers.formatInteger(productList.price, 0, 'COMMA')}원|"></p>
                    <br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span th:text="${productList.view}"></Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span th:text="${productList.like}"></span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div></a>
            </tr>
        </div>
    </div>
    <!-- First 링크 -->
    <div class="page_wrap">
        <a th:href="@{/store(page=0)}">처음</a>

        <!-- 이전 링크 활성화/비활성화 -->
        <a th:href="${product.number > 0 ? '/store?page=' + (product.number - 1) : '#'}"><</a>

        <!-- 페이지 번호 링크 -->
        <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <!-- 현재 페이지는 링크 없이 숫자만 -->
    <span th:if="${page == product.number + 1}"><span th:text="${page}"></span></span>
            <!-- 현재 페이지 번호가 아닌 다른 페이지 번호에는 링크를 보여줌 -->
    <span th:unless="${page == product.number + 1}">
        <a th:href="@{/store(page=${page - 1})}" th:text="${page}"></a>
    </span>
</span>

        <!-- 다음 링크 활성화/비활성화 -->
        <a th:href="${product.number < product.totalPages - 1 ? '/store?page=' + (product.number + 1) : '#'}">></a>

        <!-- Last 링크 -->
        <a th:href="@{/store(page=${product.totalPages - 1})}">끝</a>
    </div>

</main>
            <footer>
                <div id="coinfo_container">
                    <div class="coinfoinner">
                        <img src="img/Logo.png">
                        <p>E-mail : oncha.minji@gmail.com</p>
                        <p>Copyright 2023 Oncha</p>
                    </div>
                </div>
                <div id="m_nav_bar_container">
                    <button class="index_bt"><img src="/img/프로덕트칸.png"><p>홈</p></button>
                    <button class="store_bt"><img src="/img/프로덕트칸.png"><p>카테고리</p></button>
                    <button class="teaFinder_bt"><img src="/img/프로덕트칸.png"><p>취향분석</p></button>
                    <button class="subscribe_bt"><img src="/img/프로덕트칸.png"><p>관심목록</p></button>
                    <button class="mypage_bt"><img src="/img/프로덕트칸.png"><p>마이페이지</p></button>
                </div>
            </footer>
</body>
<script src="/js/buttonManager.js"></script>
<script src="/js/filter.js"></script>
<script src="/js/tagButton.js"></script>

<script>
    // 좌측 버튼들에 이벤트 리스너 추가
    const leftButtons = document.querySelectorAll('.check_product_wrap_left button');
    leftButtons.forEach((button) => {
        button.addEventListener('click', function() {
            // 기존에 적용된 active 클래스를 모두 제거
            leftButtons.forEach((btn) => {
                btn.classList.remove('active');
            });
            // 현재 클릭한 버튼에만 active 클래스를 추가
            this.classList.add('active');
        });
    });

    // 우측 버튼들에 이벤트 리스너 추가
    const rightButtons = document.querySelectorAll('.check_product_wrap_right button');
    rightButtons.forEach((button) => {
        button.addEventListener('click', function() {
            // 기존에 적용된 active 클래스를 모두 제거
            rightButtons.forEach((btn) => {
                btn.classList.remove('active');
            });
            // 현재 클릭한 버튼에만 active 클래스를 추가
            this.classList.add('active');
        });
    });

    function showLikeButton(element) {
        const likeButton = element.querySelector(".like_bt");
        likeButton.style.display = "block";
    }

    function hideLikeButton(element) {
        const likeButton = element.querySelector(".like_bt");
        likeButton.style.display = "none";
    }

</script>
</body>
</html>