
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>detail</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>email</th>
    <th>password</th>
    <th>name</th>
    <th>adress</th>
    <th>phone_number</th>
  </tr>
  <tr>
    <td th:text="${member.user_id}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.password}"></td>
    <td th:text="${member.name}"></td>
    <td th:text="${member.zip}"></td>
    <td th:text="${member.adress1}+${member.adress2}"></td>
    <td th:text="${member.phone_number}"></td>
  </tr>
</table>
</body>
<script src="/js/buttonManager.js"></script>
</html>