<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/css/admin_page.css" rel="stylesheet">
</head>
<body>


<aside class="side_bar">
  <div class="logo">관리자 화면</div>
  <ul>
    <li><button class="reservation">예약</button></li>
    <li><button class="member">고객</button></li>
    <li><button class="board">상품</button></li>
    <li><button class="coupon">쿠폰</button></li>
    <li><button class="date">배정</button></li>
  </ul>

</aside>

<div class="flex_box">
  <div class="top_view">
    <div class="top_view_title">고객</div>
    <div class="top_view_info">안녕하세요 관리자님</div>
  </div>


  <div class="main_view">
    <div class="main_view_title">고객 목록</div>
    <div class="main_view_ctr">
    </div>
    <div class="main_view_inner">
      <div class="inner_title">
        <span class="check"><input type="checkbox"></span>
        <span class="user_name">고객명</span>
        <span class="user_tag">등급</span>
        <span class="user_email">이메일</span>
        <span class="user_indate">가입일시</span>
        <span class="user_brith">생년월일</span>
        <span class="user_phon">전화번호</span>
        <span class="user_adress">주소</span>
      </div>


      <table>
        <tr>
          <th>id</th>
          <th>memberEmail</th>
          <th>memberPassword</th>
          <th>memberName</th>
          <th>상세조회</th>
          <th>삭제</th>
        </tr>
<!--        <tr th:each="member: ${memberList}">-->
<!--          <td th:text="${member.user_id}"></td>-->
<!--          <td th:text="${member.email}"></td>-->
<!--          <td th:text="${member.password}"></td>-->
<!--          <td th:text="${member.name}"></td>-->
<!--          <td>-->
<!--            &lt;!&ndash; query string /member?id=1-->
<!--                rest api /member/1 &ndash;&gt;-->
<!--            <a th:href="@{|/member/${member.id}|}">조회</a>-->
<!--          </td>-->
<!--          <td>-->
<!--            <a th:href="@{|/member/delete/${member.id}|}">삭제</a>-->
<!--          </td>-->
<!--        </tr>-->
      </table>




</body>
</html>