<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function openZipSearch() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.querySelector("#zip").value = data.zonecode;
                    document.querySelector("#address1").value =  data.address;
                }
            }).open();
        }
    </script>
</head>
<body>

</body>
</html>