<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/board/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>제품 관리 게시판</strong>
            <p>조민지 바보.</p>
        </div>
        <div class="board_list_wrap">
            <table>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>title(||쓰지 않은 경우)</th>
                    <th>writer</th>
                    <th>origin</th>
                    <th>price</th>
                    <th>teainfo</th>
                    <th>amount</th>
                    <th>date</th>
                </tr>
                <tr th:each="product: ${productList}">
                    <td th:text="${product.id}"></td>
                    <td><a th:href="@{|/product/admin/${product.id}|}" th:text="${product.title}"></a></td>
                    <td><a th:href="@{/product/admin/${product.id}}" th:text="${product.title}"></a></td>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.price}"></td>

                </tr>
            </table>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="write.html" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>
</body>
<script src="/js/buttonManager.js"></script>
</html> 