@import url(default.css);

.login_wrap{
  margin-top: 50px;
  position: relative;
  width: 100%;
  text-align: center;
}
.login_wrap p:not(:last-child){
  color: #747474;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 10px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-top: 100px;
}
.login_wrap h1{
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login_wrap p:last-child {
  color: #FF6701;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 10px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-top: 100px;
}
.login_bg{
  z-index: -1;
  margin-top: 80px;
  inset: 0px;
  position: absolute;
}
.social_login_bt{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 5px 0 5px;
}
.social_login_bt img{
  width: 100%;
}

.login_logo{
  margin-top: 50px;
  width: 120px;
}
.company_register_bt{
  margin-top: 50px;
}