@import url(default.css);

.tb_products{
    margin-top: 100px;
}
.product_dsc{
    padding: 31px 7px 30px 189px;
}
.mask{
    position: absolute;
    width: 100px;
}
.payment_info_container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.user_info_cntainer{
    width: 300px;
}
.deliver_option_wrap{
    width: 1000px;
}
.info_left{
}
.info_right{
border-spacing: 20px;
margin-left: 50px;
}

.Store_fillter_wrap table{
    margin-top: 10px;
    border: 1px solid gray;
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
}
.Store_fillter_wrap th{
    border: 1px solid gray;
    height: 50px;
    width: 120px;
    background-color: rgb(238, 237, 237);
    padding-left: 5px;
    text-align: left;
}
.Store_fillter_wrap td{
    width: 100px;
}
.Store_fillter_wrap tr{
    border-bottom: 1px solid gray;
}
.fillter_tag img{width: 20px;
    vertical-align: bottom;
}
