@import url(default.css);

.tb_products{
    margin-top: 100px;
}
.product_dsc{
    padding: 31px 7px 30px 189px;
}
.mask{
    position: absolute;
    width: 100px;
}
.payment_info_container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.user_info_cntainer{
    width: 300px;
}
.deliver_option_wrap{
    width: 1000px;
}
.info_left{
}
.info_right{
border-spacing: 20px;
margin-left: 50px;
}
