@import url(default.css);
.Top_viewContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.Top_viewContainer .main_view{
    width: 68%;
    height: 580px;

}
.title_container{
    margin-top: 30px;
    margin-bottom: 10px;
}
.main_view{
    position: relative;
}
.main_view h1{
    top:40%;
    text-align: left;
    left: 5%;
    width: 100%;
    font-size: 50px;
    position: absolute;
}
.banner{
    position: relative;
}
.banner h1{
    top:20%;
    text-align: right;
    right: 10%;
    width: 100%;
    font-size: 50px;
    position: absolute;
    color: #FFFFFF;
}
.banner p{
    top:90%;
    text-align: right;
    right: 10%;
    width: 100%;
    font-size: 14px;
    position: absolute;
    color: #FFFFFF;
    font-weight: bold;
}
.Top_viewContainer .banner{
    width: 30%;
    height: 580px;

}
.product_Container{
    max-width: 1200px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.product_Container ul{

    display: flex;
    list-style:none;
    padding: unset;
}
.product_Container li{

    width: 280PX;
    height: 400px;
}

.middle_banner_container{
    position: relative;
}
.middle_banner_container p{
    font-weight: bold;
    letter-spacing :5px;
    top:5%;
    text-align: center;
    width: 100%;
    font-size: 24px;
    position: absolute;
}
/**/
.inner{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 480px;
}
.inner .drgging{
    cursor: grab;
    scroll-behavior: auto;
}
.inner .drgging img{
    pointer-events: none;
}
.inner img{
    object-fit: cover;
    margin-left: 14px;
    height: calc(60%);
    border-radius: 8px;
}
.rank_img img{
    width: 80px;
    top:0%;
    height: 70px;
    border-radius: 0px;
    position: absolute;
}
/***지워야되는코드**/
 .product_inner span{
    margin-right: 5px;
    font-size: 14px;
 }
 .type{
    font-size: 8px;
    color: gray;
 }
 .title{
    font-weight: bold;
    white-space: normal;
    word-break: break-all;
    height: 50px;
 }
 .like_bt{
    width: 45px;
    top:48%;
    right:5%;
    position: absolute;
 }
.icons{
    vertical-align: middle;
display: inline-block;
margin-right:5px ;
height: 15px;
}
.icons img{
    vertical-align: top;
    height: 100%;
    border-radius: 0;
}

/***************/
.product_inner{
    width: calc(24%);
    height: 100%;
    display: inline-block;
    border-radius: 8px;
    position: relative;
}
.product_inner:not(:first-child){
    margin-left: 10px;
    
}
.inner img:first-child{
    margin-left: 0px;
}
.product_Container i{
    top: 50%;
    background-color: black;
    color: #fff;
    position: absolute;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.product_Container i:first-child{
    left: -23px;
    display: none;
}
.product_Container i:last-child{
    right: -23px;
}