@import url(default.css);

.Top_viewContainer {
    margin: 20px auto 0px auto;
}
.banner button {
    top: 90%;
    text-align: right;
    right: 10%;
    width: 100%;
    font-size: 14px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
}
.title_container {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.banner {
    position: relative;
}
.banner h1 {
    top: 15%;
    text-align: center;
    width: 100%;
    font-size: 50px;
    position: absolute;
    color: #ffffff;
}
.tea_finder_button_container {display: flex;
    margin: 30px 0 30px 0;
    width: 1500px;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tea_finder_button_container button {
    height: 100%;
    width: 5%;
}
.tea_finder_button_container img {
    border-radius: 15px;
}

.title_container h1 {
    color: #f60;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner p {
    top: 90%;
    text-align: right;
    right: 10%;
    width: 100%;
    font-size: 14px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
}
.Top_viewContainer .banner {
    width: 100%;
}

.middle_banner_container {
    position: relative;
    margin: 0px auto 70px auto;
    width: 99%;
}
/**/
.product_Container {
    max-width: 1300px;
    margin: 0 auto 40px auto;
    position: relative;
}
.product_Container ul {
    display: flex;
    list-style: none;
    padding: unset;
}
.product_Container li {
    width: 280px;
    height: 400px;
}

.inner {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 480px;
}
.title {
    color: #000;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    white-space: normal;
    word-break: break-all;
    height: 40px;
    margin-top: 5px;
}
.price {
    color: #000;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
}
.inner .drgging {
    cursor: grab;
    scroll-behavior: auto;
}
.inner .drgging img {
    pointer-events: none;
}
.inner img {
    object-fit: cover;
    margin-left: 14px;
    height: calc(60%);
}
.rank_img img {
    width: 80px;
    top: 0%;
    height: 70px;
    border-radius: 0px;
    position: absolute;
}
/***지워야되는코드**/
.product_inner span {
    margin-right: 5px;
    font-size: 14px;
}
.type {
    color: #727272;
    font-family: Noto Sans KR;
    font-size: 11px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}

.like_bt {
    width: 30px;
    top: 48%;
    right: 5%;
    display: none;
    position: absolute;
}
.icons {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    height: 15px;
}
.icons img {
    vertical-align: top;
    height: 100%;
    border-radius: 0;
}

/***************/
.product_inner {
    width: calc(24%);
    height: 100%;
    display: inline-block;
    position: relative;
}
.product_inner {
    margin: 0 5px 0 5px;
}
.inner img:first-child {
    margin-left: 0px;
}
.product_Container i {
    top: 50%;
    background-color: black;
    color: #fff;
    position: absolute;
    width: 46px;
    height: 46px;
    z-index: 1;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.product_Container i:first-child {
    left: -23px;
    display: none;
}
.product_Container i:last-child {
    right: -23px;
}

@media all and (max-width: 479px) {
    .inner {
        height: 400px;
    }
    .product_inner {
        width: calc(49%);
        height: 100%;
        display: inline-block;
        position: relative;
    }
}
