<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/css/category/oncha-info.css" rel="stylesheet">
</head>
<body>

<!----------------------------------------공용--------------------------------------------------->
<nav id="navbar_container">
  <div id="check-btn2" >
    <label for="check-btn"><img class="navmenu_bar" src="/img/메뉴.png"><a class="n_category" href ="#">카테고리</a></label>
    <ul class="menubars">
      <li><button class="order">주문/배송</button></li>
      <li><button class="reservation">예약</button></li>
      <li><button class="coupon">적립금/쿠폰</button></li>
      <li><button class="intro">온차소개</button></li>
      <li><button class="notification">공지사항</button></li>
      <li><button class="faq">자주하는질문</button></li>
      <li><button class="inquiry">고객센터</button></li>
      <li><button class="mypage2">개인정보수정</button></li>
    </ul>
  </div>
  <button class="n_newitem"> 신상품 </button>
  <button class="n_bestitem"> 베스트 </button>
  <button class="n_sale"> 특가/혜택 </button>
  <input class="nav_search" type="text" placeholder="검색하기"/>
  <button  href ="#"><img class="nav_sbt" src="/img/검색.png"></button>
  <button class="mypage"><img src="/img/로그인_마이페이지.png"></button>
  <button class="shop" href ="#"><img src="/img/장바구니.png"></button></div>
  <!--<button class="search" href ="#"><img src="/img/검색.png"></button>
  <input class="innersearch" type="text" placeholder="검색하기"/>-->

</nav>


<div class="login_bt">
  <a  href ="#"><img src="/img/logo3.png"></a>
  <h2>세상의 모든 차</h2>
  <input class="top_search" type="text" placeholder="검색하기"/>
  <button class="t_search_bt" href ="#"><img src="/img/검색.png"></button>

  <button class="CS">고객센터</button>
  <button class="register">회원가입</button>
  <button class="loginbt">로그인</button>
</div>
<!--head-->
<div id="menu_box">
  <a class="menu_bar" href ="#"><img src="/img/메뉴.png"></a>
  <a class="category" href ="#">카테고리</a>
  <button class="newitem"> 신상품 </button>
  <button class="bestitem"> 베스트 </button>
  <button class="sale"> 특가/혜택 </button>
  <button class="mypage"><img src="/img/로그인_마이페이지.png"></button>
  <button class="shop" href ="#"><img src="/img/장바구니.png"></button></div>
<!----------------------------------------공용--------------------------------------------------->




<div class="Info_test_contanier"><h1>온차의 기업소개</h1></div>
<div class="main_container">
  <div class="main_container_inner">
    <h1> 온차</h1>
    <p>
      온차는 누구나 쉽게 차(茶)를 시작할 수 있도록 돕는 커머스 서비스이며,
      온차의 메인 서비스는 ‘콘텐츠 커머스’ 입니다.
      고객이 콘텐츠를 통해 차에 대해 알아가며 간편하게 쇼핑을 즐길 수 있도록 하고자 합니다.

      누구나 쉽게 차를 구매할 수 있도록 하기 위하여,
      온차는 퀄리티가 보장된 제품만 판매하는 ‘큐레이팅 커머스’ 를 제공합니다.

      온차는 쇼핑이 단순히 물건을 구매하는 행위가 아닌 ‘콘텐츠’라고 생각합니다.
      쇼핑 경험 자체가 고객에게 즐거움이 되었으면 좋겠습니다.

      온차와 함께하는 소규모 티브랜드/다원은 주로 차를 마실 수 있는 오프라인 매장을 함께 운영합니다.
      온차는 고객이 좋아하는 브랜드를 쉽게 찾아갈 수 있도록, 또는 주변의 매장을 쉽게 이용할 수 있도록 예약
      서비스를 제공합니다.</p>


  </div>
</div>

<div class="bottom_info_cotanier"></div>


<script src ="/js/home/index.js"></script>
<script src="/js/ctr/nav_bar_ctr.js"></script>
</body>
</html>