<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/test.css" rel="stylesheet">
</head>
<body>
<div class="nav_barContainer">
    <div class="left"><a class="logo"><img class="top_logo" src="img/로고.png"></a></div>
    <div class="right"><button class="finder_bt"><img src="img/티파인더마오.png"></button>
        <button class="store_bt"><img src="img/스토어마오.png"></button>
        <button class="reserve_bt"><img src="img/예약마오.png"></button>
        <button class="sub_bt"><img src="img/티구독마오.png"></button>
        <input type="text">
    </div>
</div>
<button id="login"><img src="img/로긴온차.png"></button>
<div class="Top_viewContainer">
    <a class="main_view"><img src="img/메인.png"></a>
    <a class="banner"><img src="img/광고.png"></a>
</div>


<div class="product_Container">
    <ul class="inner">
        <li><a class="product_inner"><img src="img/프로덕트칸.png"></a></li>
        <li><a class="product_inner"><img src="img/프로덕트칸.png"></a></li>
        <li><a class="product_inner"><img src="img/프로덕트칸.png"></a></li>
        <li><a class="product_inner"><img src="img/프로덕트칸.png"></a></li>
    </ul>
</div>


</body>
</html>