<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/test.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="logo"><img class="top_logo" src="/img/로고.png"></a></div>
        <div class="right"><button class="finder_bt"><img src="/img/티파인더마오.png"></button>
            <button class="store_bt"><img src="/img/스토어마오.png"></button>
            <button class="reserve_bt"><img src="/img/예약마오.png"></button>
            <button class="sub_bt"><img src="/img/티구독마오.png"></button>
            <input type="text">
        </div>
    </div>
    <button id="login"><img src="/img/로긴온차.png"></button>


    <div class="Top_viewContainer">
        <a class="main_view"><img src="/img/메인.png"></a>
        <a class="banner"><img src="/img/광고.png"></a>
    </div>

    <div><h1>PRODUCT</h1></div>

    <div class="product_Container">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="inner">
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
            <a class="product_inner"><img src="/img/프로덕트칸.png"></a>
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>


    </div>

    <div id="coinfo_container">
        <div class="coinfoinner">
            <img src="/img/로고.png">
            <p>E-mail : oncha.minji@gmail.com</p>
            <p>Copyright 2023 Oncha</p>
        </div>
    </div>

</div>

</body>

<script src="/js/Tindex.js"></script>

</html>