<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>온차</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="img/Logo.png"></a>
            <button class="teaFinder_bt">마이티</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button th:if="${user == null}" class="login_bt">로그인</button>
            <button class="myoncha_bt">마이온차</button>
        </div>
    </div>
    <div class="sub_nav_bar"><div>

    <div class="Top_viewContainer">
        <a class="main_view"><img src="/img/Main_img.png">
            <h1>온차만의<br>특별함을 만나보세요</h1></a>
        <a class="banner"><img src="/img/tea_finder.png">
        <h1>나의<br>차를<br>찾다</h1>
            <p>티파인더 알아보기</p>
        </a>
    </div>

    <div class="title_container"><h1>가장 많이 마시는 차! Best</h1></div>

    <div class="product_Container">
        <!--<tr th:each="prdocutList:${product}">
         <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
             <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
            <td th:text="${prdocutList.getTitle()}"></td>
             <td th:text="${prdocutList.getProduct_name()}"></td>
         <td th:text="${prdocutList.getLike()}"></td>
         <td th:text="${prdocutList.getView()}"></td>
         </a>
     </tr>
 -->
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="inner">
            <tr th:each="productList:${product}">
                <a th:href="@{/store/{id}(id =${productList.id})}"><div class="product_inner" >
                    <img th:src="@{|${productList.list.get(0).getUrl()}|}" alt="">
                    <p class="type" th:text="${productList.type}"></p>
                    <p class="title" th:text="${productList.title}"></p>
                    <strong th:text="${productList.price}">원</strong><br>
                    <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                    <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                </div></a>
            </tr>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
    </div>
    
    <div class="middle_banner_container">
        <img src="/img/MiddleBanner.png">
        <p>온 차 에 서  찾 는  나 의  어 울 리 는  차</p>
    </div>
    <div class="title_container"><h1>꼭 가야 할 소문난 찻집! Best</h1></div>
    <div class="reserve_contaiter">
        <div class="inner">
           <a href="/darakbang"> <div class="product_inner"><img src="/img/index/상품1-1.png">
                <p class="title">다락방</p>
                <p class="type">감성있는 제주도의 밀크티 전문점</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><span>531</span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                <div class="rank_img"><img  src="/img/icons/1.png"></div>
            </div></a>
            <a> <div class="product_inner"><img src="/img/index/상품2-1.png">
                <p class="title">고바담 숲</p>
                <p class="type">제주의 숲과 바다를 보며 차를마시는 찻집</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>989</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 1,005</span>
                <div class="rank_img"><img  src="/img/icons/2.png"></div>
            </div></a>
            <a> <div class="product_inner"><img src="/img/index/상품3-1.png">
                <p class="title">작은 혀의 외침</p>
                <p class="type">새의 혀를 닮은 차를 경험할 수 있는 찻집</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>31</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 47</span>
                <div class="rank_img"><img  src="/img/icons/3.png"></div>
            </div></a>
            <a> <div class="product_inner"><img src="/img/index/상품4-1.png">
                <p class="title">그대의 눈빛</p>
                <p class="type">풍경이 좋은 찻집</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>100</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 15</span>
            </div></a>
            <a> <div class="product_inner"><img src="/img/index/상품1-1.png">
                <p class="title">얼그레이</p>
                <p class="type">싱글오리진</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
            </div></a>
            <a> <div class="product_inner"><img src="/img/index/상품2-1.png">
                <p class="title">얼그레이</p>
                <p class="type">싱글오리진</p><br>
                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
            </div></a>
            <!--<tr th:each="prdocutList:${product}">
                <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                    <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
                   <td th:text="${prdocutList.getTitle()}"></td>
                    <td th:text="${prdocutList.getProduct_name()}"></td>
                <td th:text="${prdocutList.getLike()}"></td>
                <td th:text="${prdocutList.getView()}"></td>
                </a>
            </tr>
        -->
    </div>
    </div>

    <div class="title_container"><h1>함께하고 싶은 특별한 차 레시피!</h1></div>
    <div class="recipe_container">
        <div class="inner">
            <div class="product_inner"><img src="/img/index/상품1.png">
                <p class="title">얼그레이 레몬티</p>
                <p class="type">얼그레이와 레몬을 합쳐 새로운 맛을 창조</p>
            </div>
            <div class="product_inner"><img src="/img/index/상품2.png">
                <p class="title">라벤더로 휘낭시에 만들기</p>
                <p class="type">라벤더 휘낭시에 레시피</p>
            </div>
            <div class="product_inner"><img src="/img/index/상품3.png">
                <p class="title">녹차와 아이스크림의 만남</p>
                <p class="type">녹차 아포카토</p>
            </div>
            <div class="product_inner"><img src="/img/index/상품4.png">
                <p class="title">연잎과 국화의 만남</p>
                <p class="type">연잎차와 국화차를 동시에 느껴보는 레시피</p>
            </div>
            <div class="product_inner"><img src="/img/index/상품5.png">
                <p class="title">얼그레이</p>
                <p class="type">싱글오리진</p>
            </div>
            <div class="product_inner"><img src="/img/index/상품6.png">
                <p class="title">얼그레이</p>
                <p class="type">싱글오리진</p>
            </div>
         
            <!--<tr th:each="prdocutList:${product}">
                <a class="product_inner" th:href="@{/Store/{id}(id =${prdocutList.id})}">
                    <img th:src="@{|${prdocutList.list.get(0).getUrl()}|}" alt="">
                   <td th:text="${prdocutList.getTitle()}"></td>
                    <td th:text="${prdocutList.getProduct_name()}"></td>
                <td th:text="${prdocutList.getLike()}"></td>
                <td th:text="${prdocutList.getView()}"></td>
                </a>
            </tr>
        -->
    </div>
    </div>
<div><a href="/product_board/write">물건등록하기</a></div>
    <div id="coinfo_container">
        <div class="coinfoinner">
            <img src="/img/Logo.png">
            <p>E-mail : oncha.minji@gmail.com</p>
            <p>Copyright 2023 Oncha</p>
        </div>
    </div>

</div>
</div>
</div>
</body>

<script src="/js/Tindex.js"></script>
<script src="/js/buttonManager.js"></script>

</html>