<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/order/order.css" rel="stylesheet">

</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="teaFinder_bt">마이티</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button class="login_bt">로그인</button>
        </div>
    </div>
<div class="view">
    <div class="order_main_info">
      <div class="main_img">
     <td th:each="fileName : ${product.list.get(0).getUrl()}">
            <img th:src="@{|${fileName}|}" alt="">></div>
        </td>
        <div class=" inner_info">
            <ul>
                <li >배송<br> <h1 class="productName" th:text="${product.title}"></h1></li>
                <li>배송 일반배송(주문시 ~~도착)</li>
                <li class="productId" th:text="${product.id}"></li>
                <li>포장타입 일반포장</li>
                <li>판매단위 1개</li>
                <li th:text="${product.weight}">g </li>
                <li th:text="${product.origin_nation}"></li>
                <li th:text="${product.type}"></li>
                <li>상품 선택 <button>-</button><button>1</button><button>+</button></li>
                <li class="amount" th:text="${product.price}"></li>
                <li> <a th:href="@{/store/order/{id}(id =${product.id})}">결제하기</a></li>
            </ul>
        </div>
    </div>
    <div class="button_panel">
        <button>상품설명</button>
        <button>상세정보</button>
        <button>후기</button>
        <button>문의</button>
    </div>
    <div class="info">
        상품설명


        <p th:text="${product.detail}">



        저절씨구


        어쩌구저쩌구


        온차언쩌구
    </div>
    <div class="detail">
        상세정보







    </div>
    <div class="review">
        후기
        <div class="review_borad">
            리뷰가 없습니다.
        </div>
    </div>
    <div class="inquiry">
        나문희
        <div class="inquiry_board">
            문희는 포도가 먹고싶은데
        </div>
    </div>


</div>
</div>
</div>
</div>
<!--tail-->
<div id="coinfo-container">
    <div class="coinfoinner">
        <img src="/img/logo2.png">
        <p>E-mail : oncha.minji@gmail.com</p>
        <p>Copyright 2023 Oncha</p>
    </div>
</div>
</body>
</html>