<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/order/order.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>

<div class="view">
    <div class="order_main_info">
      <div class="main_img">
     <td th:each="fileName : ${product.list.get(0).getUrl()}">
            <img th:src="@{|${fileName}|}" alt="">></div>
        </td>
        <div class=" inner_info">
            <ul>
                <li >배송<br> <h1 class="productName" th:text="${product.title}"></h1></li>
                <li>배송 일반배송(주문시 ~~도착)</li>
                <li class="productId" th:text="${product.id}"></li>
                <li>포장타입 일반포장</li>
                <li>판매단위 1개</li>
                <li th:text="${product.weight}">g </li>
                <li th:text="${product.origin_nation}"></li>
                <li th:text="${product.type}"></li>
                <li>상품 선택 <button>-</button><button>1</button><button>+</button></li>
                <li class="amount" th:text="${product.price}"></li>
                <li> <a th:href="@{/store/order/{id}(id =${product.id})}">결제하기</a></li>
            </ul>
        </div>
    </div>
    <div class="button_panel">
        <button>상품설명</button>
        <button>상세정보</button>
        <button>후기</button>
        <button>문의</button>
    </div>
    <div class="info">
        상품설명


        <p th:text="${product.detail}">



        저절씨구


        어쩌구저쩌구


        온차언쩌구
    </div>
    <div class="detail">
        상세정보







    </div>
    <div class="review">
        후기
        <div class="review_borad">
            리뷰가 없습니다.
        </div>
    </div>
    <div class="inquiry">
        나문희
        <div class="inquiry_board">
            문희는 포도가 먹고싶은데
        </div>
    </div>


</div>
</div>
</div>
<!--tail-->
<div id="coinfo-container">
    <div class="coinfoinner">
        <img src="/img/logo2.png">
        <p>E-mail : oncha.minji@gmail.com</p>
        <p>Copyright 2023 Oncha</p>
    </div>
</div>
<script>

    function iamport(){

        const name = $("#name").val();
        const phone = $("#phone").val();
        const email = $("#email").val();
        const postcode = $("#postcode").val();
        const address = $("#address").val() + " " + $("#detailAddress").val();

        const productName= document.querySelector(".productName").textContent;
        const productId = $("#productId").val();
        const detailName = $("#productName").val();
        const cartName = $("#cartName").val();
        const amount = document.querySelector(".amount").textContent;
        const price = $("#total-price").text();

        console.log(amount);

        //가맹점 식별코드
        IMP.init("imp85443833");
        IMP.request_pay({
            pg : 'nice.nictest04m',
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name :  productName,
            amount : amount,
            buyer_email : "email",
            buyer_name : "name",
            buyer_tel : "phone",
            buyer_addr : "address",
            buyer_postcode : "postcode",
            m_redirect_url : 'http://localhost:8080/orderComplete'
        }, function(res) {
            // 결제검증
            console.log(res);
            $.ajax({
                type : "POST",
                url : "/verifyIamport/" + res.imp_uid
            }).done(function(data) {
                console.log(data);
                if(res.paid_amount == data.response.amount){
                    alert("결제 및 결제검증완료");

                    //결제 성공 시 비즈니스 로직

                } else {
                    alert("결제 실패");

            });
        });
    }
</script>
</body>
</html>