<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결제 정보 입력</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<h1>결제 정보 입력</h1>

    <input type="text" id="name" name="name" placeholder="주문 번호 입력" required>
    <input type="number" id="amount" name="amount" placeholder="결제 금액 입력" required>
    <button  onclick="iamport()">결제하기</button> <!-- 결제하기 버튼 생성 -->


<script>
    function iamport(){

        const name = $("#name").val();
        const phone = $("#phone").val();
        const email = $("#email").val();
        const postcode = $("#postcode").val();
        const address = $("#address").val() + " " + $("#detailAddress").val();

        const productName= $("#productName").val();
        const productId = $("#productId").val();
        const detailName = $("#productName").val();
        const cartName = $("#cartName").val();
        const amount = $("#amount").val();
        const price = $("#total-price").text();


        //가맹점 식별코드
        IMP.init("imp85443833");
        IMP.request_pay({
            pg : 'tosspayments',
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name :  "productName",
            amount : "2000",
            buyer_email : "email",
            buyer_name : "name",
            buyer_tel : "phone",
            buyer_addr : "address",
            buyer_postcode : "postcode"
        }, function(res) {

            // 결제검증


            $.ajax({
                type : "POST",
                url : "/verifyIamport/" + res.imp_uid
            }).done(function(data) {

                if(res.paid_amount == data.response.amount){
                    alert("결제 및 결제검증완료");

                    //결제 성공 시 비즈니스 로직

                } else {
                    alert("결제 실패");
                }
            });
        });
    }
</script>
</body>
</html>