<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Document</title>
</head>
<body>
    <img class="login_bg" src="/img/login/loginBG.png">
    <div class="box">
        <div class="nav_barContainer">
            <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
                <button class="teaFinder_bt">마이티</button>
                <button class="store_bt">스토어</button>
                <button class="teaHouse_bt">티하우스</button>
                <button class="subscribe_bt">커뮤니티</button>

            </div>
            <div class="right">
                <input class="search" type="text" >
                <button th:if="${user == null}" class="login_bt">로그인</button>
                <button class="myoncha_bt">마이온차</button>
            </div>
        </div>
        <div class="login_wrap">

        <div class="login_L"><h1>나만의 차를<br> 위한 여행</h1></div>
        <div class="login_R">
            <img class="login_logo" src="/img/Logo.png">
            <h2>로그인</h2>
            <p>소셜네트워크 서비스로 로그인하기</p>
            <button class="social_login_bt" onclick="location.href='/oauth2/authorization/google'"><img src="/img/login/logo1.png"></button>
            <button class="social_login_bt"><img src="/img/login/logo2.png"></button>
            <button class="social_login_bt"><img src="/img/login/logo3.png"></button>

            <p>세상의 모든 차를 담다 ONCHA</p>
        </div>   
        </div>


        </div>



</body>
</html>