<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>OnchaLogin</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/register" method="post">
            <input name="name" id ="name" type="text" placeholder="이름"/>
            <input name="nickName" id ="nickName" type="text" placeholder="닉네임"/>
            <input name="phoneNumber" id="phone" type="text" placeholder="전화번호"/>
            <select name="gender" id="gender">
                <option value="male">남자</option>
                <option value="female">여자</option>
                <option value="etc">기타</option>
            </select>
            <input name="birth" id="birth" type="date" placeholder="생년월일"/>
            <input id="button" type="submit">SIGN UP</input>
        </form>
    </div>

</div>
</body>

<!--
<script th:inline="javascript">

    const checkType=(type,res)=>{
        let data;
        let color="green";
        let use="사용가능한";
        if(res=="no"){use = "이미 사용중인"; color="red";}

        switch (type){
            case "id":
                data= document.getElementById("id-result");
                data.innerHTML = `${use} 아이디 입니다.`
                data.style.color =color;
                break;
            case "email":
                data = document.getElementById("email-result");
                data.innerHTML = `${use} 이메일 입니다.`
                data.style.color =color;
                break;
            case "phone_number":
                data = document.getElementById("phone-result");
                data.innerHTML = `${use} 전화번호 입니다.`
                data.style.color =color;
                break;
        }
    }

    const checkValue =(type)=>{
        const id = document.getElementById(type).value;
        console.log("입력값"+id);
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: `/register/${type}-check`,
            data: {
                "data": id
            },
            success :function (res){
                checkType(type,res);
                console.log("요청성공",res);
            },
            error : function (err){
               console.log("에러",err);
            }
        });
    }


</script>
-->

</html>

<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->