<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>OnchaLogin</title>
    <!--jquery-cdn-->

    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous">
    </script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function openZipSearch() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.querySelector("#zip").value = data.zonecode;
                    document.querySelector("#address1").value =  data.address;
                }
            }).open();
        }
    </script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/register" method="post">
            <input name="name" id ="name" type="text" placeholder="이름"/>
            <input name="phone" id="phone" type="text" placeholder="전화번호"/>
            <input name="zip" type="text" id="zip" style="width:200px; height:50px;" placeholder="우편번호" />
            <button type="button" style="width:60px; height:50px;" onclick="openZipSearch()">검색</button><br>
            <input name="address1" type="text" id="address1" style="width:270px; height:50px;" readonly placeholder="주소"/><br>
            <input name="address2" type="text" id="address2" style="width:270px; height:50px;" placeholder="상세" />
            <input name="tag" type="text" id="tag" style="width:270px; height:50px;" placeholder="member" />

            <input id="button" type="submit">SIGN UP</input>
        </form>
    </div>

</div>
</body>

<!--
<script th:inline="javascript">

    const checkType=(type,res)=>{
        let data;
        let color="green";
        let use="사용가능한";
        if(res=="no"){use = "이미 사용중인"; color="red";}

        switch (type){
            case "id":
                data= document.getElementById("id-result");
                data.innerHTML = `${use} 아이디 입니다.`
                data.style.color =color;
                break;
            case "email":
                data = document.getElementById("email-result");
                data.innerHTML = `${use} 이메일 입니다.`
                data.style.color =color;
                break;
            case "phone_number":
                data = document.getElementById("phone-result");
                data.innerHTML = `${use} 전화번호 입니다.`
                data.style.color =color;
                break;
        }
    }

    const checkValue =(type)=>{
        const id = document.getElementById(type).value;
        console.log("입력값"+id);
        $.ajax({
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: `/register/${type}-check`,
            data: {
                "data": id
            },
            success :function (res){
                checkType(type,res);
                console.log("요청성공",res);
            },
            error : function (err){
               console.log("에러",err);
            }
        });
    }


</script>
-->

</html>

<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->