<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="logo" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="finder_bt">마이티</button>
            <button class="store_bt" onclick="location.href='/store.html'">스토어</button>
            <button class="reserve_bt" onclick="location.href='/teaHouse.html'">티하우스</button>
            <button class="sub_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input type="text" >
            <button id="login">로그인</button>
            <button id="register">회원가입</button>
        </div>
    </div>

    <div class="register_wrap">
        <img class="regiset_logo" src="/img/Logo.png">
        <h1>회원가입</h1>
        <div class="register_img"><img src="/img/login/regi1.png">-- --- -<img src="/img/login/regi3.png"></div>
        <div class="register_text"><p>계졍 인증</p><p>정보 입력</p></div>
        <form>
            <div class="input_wrap">
                <input type="text" id="username" name="username" placeholder="이름">
                <div class="input-group-prepend">
                    <input type="text" class="form-control" name="birthDayNumber" id="birthDayNumber" maxlength="6" placeholder="주민번호 앞자리">
                    <input type="password" class="form-control" name="genderNumber" id="genderNumber" maxlength="1" placeholder="주민번호 뒤 1자리">
                </div>
                <input type="text" id="nickname" name="nickname" placeholder="닉네임">
                <button type="button" id= "joinButton" class="join_bt">가입하기</button>
            </div>
        </form>
        <p>세상의 모든 차를 담다 ONCHA</p>
    </div>
</div>


</div>


</div>
</body>
<script src="/js/register.js"></script>
</html>