<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="teaFinder_bt">마이티</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">매거진</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button th:if="${user == null}" class="login_bt">로그인</button>

            <span class="login" th:unless="${user==null}">
            <button class="cart_bt"><img src="/img/cart.png"></button>
            <a  th:href="@{/mypage/{id}(id =${user.id})}">
               <!--<img th:src="@{|${user.list.get(0).getUrl()}|}" alt="">-->마이페이지</a>ㅣ<a href=" http://oncha.kr/logout">로그아웃</a>
            </span>
        </div>
    </div>
    <h1>배송정보가 들어갈 페이지입니다.</h1>
</div>
</body>
<script src="/js/buttonManager.js"></script>
</html>