<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/css/order/payInfo.css" rel="stylesheet">
</head>
<body>
<header>
  <div class="nav_barContainer">
    <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
      <button class="myoncha_bt">마이온차</button>
      <button class="store_bt">스토어</button>
      <button class="teaHouse_bt">티하우스</button>
      <button class="subscribe_bt">매거진</button>

    </div>
    <div class="right">
      <input class="search" type="text" >
      <button th:if="${user == null}" class="login_bt">로그인</button>

      <span class="login" th:unless="${user==null}">
            <button class="cart_bt"><img src="/img/cart.png"></button>
            <a  th:href="@{/mypage/{id}(id =${user.id})}">
               <!--<img th:src="@{|${user.list.get(0).getUrl()}|}" alt="">-->마이페이지</a>ㅣ<a href=" http://oncha.kr/logout">로그아웃</a>
            </span>
    </div>
  </div>
  </div>
</header>
<main>
  <h1>결제하기</h1>
  <div class="pay_info_wrap">
    <div class="order_detail_wrap">
      <div class="product_info">
        <h3>주문상품정보</h3>
        <div class="product_detail">
          <img th:src="${product.list.get(0).url}" src="img/프로덕트칸.png">
          <div class="info">
            <p th:text="${product.title}">타이틀 테스트입니다</p>
            <p><a>옵션</a>없음 0개</p>
            <p th:text="${product.price}">1,000원</p>
          </div>
          <button>배송비 3,000원</button>
        </div>
      </div>

      <div class="buyer_info">
        <h3>주문자 정보</h3>
        <div th:if="${user==null}" class="buyer_detail">
          <input class="buyer_other" name="buyerName" type="text" style="width: 48%; height: 50px;" placeholder="이름">
          <input class="buyer_other" name="phoneNumber" type="text" style="width: 48%; height: 50px" placeholder="연락처">
          <input class="buyer_email" name="email" type="text" style="width: 98%; height: 50px;" placeholder="이메일">
          <input class="buyer_other" name="password" type="text" style="width:48%; height: 50px;" placeholder="주문 비밀번호">
          <input class="buyer_other" name="passwordCheck" type="text" style="width: 48%;height: 50px;" placeholder="주문 비밀번호 확인">
        </div>
        <div th:unless="${user==null}" class="buyer_detail">
          <input class="buyer_other" name="buyerName" type="text" style="width:48%; height: 50px;"  th:value="${user.name}">
          <input th:if="${user.phoneNumber==null}" class="buyer_other" name="phoneNumber" type="text" style="width: 48%; height: 50px" placeholder="휴대폰번호">
          <input th:unless="${user.phoneNumber==null}" class="buyer_other" name="phoneNumber" type="text" style="width: 48%; height: 50px" placeholder="휴대폰번호" th:value="${user.phoneNumber}">
          <input class="buyer_email" name="email" type="text" style="width: 98%; height: 50px" th:value="${user.email}">
        </div>

        </div>


      <div class="delivery_info">
        <h3>배송정보</h3>
        <div class="delivery_detail">
          <input type="checkbox" id="sameAsBuyer" onchange="copyBuyerInfo()"> 주문자 정보와 동일<br>
          <input class="buyer_other" name="userName" type="text"  style="width: 48%; height: 50px" placeholder="수령인">
          <input class="buyer_other" name="phoneNumber" type="text" style="width: 48%; height: 50px"  placeholder="연락처"><br>
          <input type="radio" name="delivery_info" id="1" value="default"><label for="1">기본배송지</label>
          <input type="radio" name="delivery_info" id="2" value="default"><label for="2">최근배송지</label>
          <input type="radio" name="delivery_info" id="3" value="default"><label for="3">배송지입력</label><br>
          <span th:if="${user.addressDTOList==null}">
          <input name="zip" type="text" id="zip" style="width:120px; height:50px;" placeholder="우편번호"/>
          <button id= "postcodebutton" type="button" style="width:120px; height:45px;">주소찾기</button>
          <br>
          <input name="address1" type="text" id="address1" style="width:98%; height:50px;" readonly placeholder="주소"/><br>
          <input name="address2" type="text" id="address2" style="width:98%; height:50px;" placeholder="상세" />
          </span>
          <h4>배송메모</h4>
          <input type="text" style="width: 98%;height: 50px" placeholder="배송메모를 선택해주세요">
        </div>
      </div>
    </div>


    <div class="pay_detail_wrap">

      <div class="pay_detail">
        <h3>결제 상세</h3>
        <div class="pay_info">
          <div class="info_left">
            <p>상품가격</p>
            <p>배송비</p>
            <p>할인</p>
            <hr>
            <p>총 주문금액</p>
          </div>
          <div class="info_right">
            <p>10,000원</p>
            <p>무료</p>
            <p>없음</p>
            <hr>
            <p class="total_price"> 00000 원</p>
          </div>
        </div>

      </div>



      <div class="pay_type_wrap">
        <h3>결제수단</h3>
        <div class="pay_type_detail">
          <fieldset>
            <input id="creditCard" type="checkbox" value="신용카드">
            <label for="creditCard">신용카드</label>

            <input id="virtualAccount" type="checkbox" value="가상계좌" disabled>
            <label for="virtualAccount">가상계좌</label>

            <input id="bank" type="checkbox" value="무통장입금" disabled>
            <label for="bank">무통장입금</label>

            <input id="kakaoPay" type="checkbox" value="카카오페이" disabled>
            <label for="kakaoPay">카카오페이</label>

            <input id="payco" type="checkbox" value="PAYCO" disabled>
            <label for="payco">페이코</label>

            <input id="samsungPay" type="checkbox" value="삼성페이" disabled>
            <label for="samsungPay">상성페이</label>

            <input id="phonePay" type="checkbox" value="휴대폰" disabled>
            <label for="phonePay">휴대폰</label>
          </fieldset>
        </div>
      </div>

      <div class="agree_wrap">
        <div class="agree_detail">
          <fieldset>
            <input id="assent" type="checkbox" value="true">
            <label for="assent">전체동의 </label><br>
            <input id="privacy" type="checkbox" value="true">
            <label for="privacy">개인정보 수집 및 이용동의</label><a> 약관보기</a><br>
            <input id="payAssent" type="checkbox" value="true">
            <label for="payAssent">구매조건 확인 및 결제 진행에 동의</label><br>
          </fieldset>
          <button  onclick="validateForm()">결제하기</button>
        </div>
      </div>

    </div>

  </div>
</div>
</main>
<footer>
  <div id="coinfo_container">
    <div class="coinfoinner">
      <img src="/img/Logo.png">
      <p>E-mail : oncha.minji@gmail.com</p>
      <p>Copyright 2023 Oncha</p>
    </div>
  </div>
</footer>
</body>
<script>
  function copyBuyerInfo() {
    const sameAsBuyer = document.getElementById("sameAsBuyer").checked;

    if (sameAsBuyer) {
      const buyerName = document.querySelector(".buyer_info input[name='buyerName']").value;
      const phoneNumber = document.querySelector(".buyer_info input[name='phoneNumber']").value;

      document.querySelector(".delivery_info input[name='userName']").value = buyerName;
      document.querySelector(".delivery_info input[name='phoneNumber']").value = phoneNumber;
    } else {
      // 만약 주문자 정보와 동일 체크박스가 선택 해제되면 수령인 정보를 초기화할 수도 있습니다.
      document.querySelector(".delivery_info input[name='userName']").value = "";
      document.querySelector(".delivery_info input[name='phoneNumber']").value = "";
    }
  }
  function validateForm() {
    // 주문자 정보 입력 유효성 검사
    const passwordInput = document.getElementsByName("password")[0];
    const passwordCheckInput = document.getElementsByName("passwordCheck")[0];

    const password = passwordInput ? passwordInput.value : null;
    const passwordCheck=passwordCheckInput ? passwordCheckInput.value:null;

    const buyerName = document.getElementsByName("buyerName")[0].value;
    const phoneNumber = document.getElementsByName("phoneNumber")[0].value;
    const email = document.getElementsByName("email")[0].value;
    const assent = document.getElementById("assent").checked;
    const privacy = document.getElementById("privacy").checked;
    const payAssent = document.getElementById("payAssent").checked;

    // 배송정보 입력 유효성 검사
    const userName = document.getElementsByName("userName")[0].value;
    const deliveryPhoneNumber = document.getElementsByName("phoneNumber")[1].value;
    const zip = document.getElementById("zip").value;
    const address1 = document.getElementById("address1").value;
    const address2 = document.getElementById("address2").value;
    let data ={};

    if (!assent) {
      alert("전체 동의에 체크해주세요.");
      return false;
    }

    if (!privacy) {
      alert("개인정보 수집 및 이용에 동의해주세요.");
      return false;
    }

    if (!payAssent) {
      alert("구매조건 확인 및 결제 진행에 동의해주세요.");
      return false;
    }

    if (document.getElementById("sameAsBuyer").checked === false) {
      if (userName === "" || deliveryPhoneNumber === "" || zip === "" || address1 === "" || address2 === "") {
        alert("배송정보를 모두 입력해주세요.");
        return false;
      }
    }

    if(password!=null){
      if (buyerName === "" || phoneNumber === "" || email === "" || password === "" || passwordCheck === "") {
        alert("주문자 정보를 모두 입력해주세요.");
        return false;
      }

      if (password !== passwordCheck) {
        alert("주문 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
        return false;
      }
      data = {
        buyer_name:`${buyerName}`,
        buyer_email:`${email}`,
        phone_number:`${phoneNumber}`,
        zip_code:`${zip}`,
        address:`${address1}`,
        address_detail:`${address2}`,
        password : `${password}`
      }
    }else{
      if (buyerName === "" || phoneNumber === "" || email === "") {
        alert("주문자 정보를 모두 입력해주세요.");
        return false;
      }
      data = {
        buyer_name:`${buyerName}`,
        buyer_email:`${email}`,
        phone_number:`${phoneNumber}`,
        zip_code:`${zip}`,
        address:`${address1}`,
        address_detail:`${address2}`,
      }
    }



    // 유효성 검사 통과 시 결제 진행
    iamport(data);
    return true;
  }
  function iamport(data) {
    const currentURL = window.location.href;
    const pattern = /\d+$/;
    const match = currentURL.match(pattern);
    const lastNumber = match ? match[0] : '';

    console.log(lastNumber);
    $.ajax({
      type: "POST",
      url: `/request_pay/`+lastNumber,
      data: JSON.stringify(data),
      contentType: "application/json",
      dataType: "json",
      success: function (res) {
        console.log(res);
        IMP.init("imp85443833");
        IMP.request_pay({
          pg: 'kcp.A52CY',
          pay_method: 'card',
          merchant_uid: 'merchant_' + new Date().getTime(),
          name: res.product_name,
          amount: "100",
          buyer_email:res.buyer_email,
          buyer_name: res.buyer_name,
          buyer_tel: res.buyer_tel,
          buyer_postcode: "우편번호다~",
          m_redirect_url: 'http://localhost:8080/orderComplete'
        }, function (res) {
          // 결제검증
          console.log(res);
          $.ajax({
            type: "POST",
            url: "/verifyIamport/" + res.imp_uid
          }).done(function (data) {
            console.log(data);
            if (res.paid_amount == data.response.amount) {
              alert("결제 및 결제검증완료");

              //결제 성공 시 비즈니스 로직

            } else {
              alert("결제 실패");
            }
          });
        });
      }
    });
  }

</script>
<script src="/js/buttonManager.js"></script>
<script type="module" src="/js/registry.js"></script>
</html>