<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/order/order.css" rel="stylesheet">

</head>
<body>
<div class="box">
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="/img/Logo.png"></a>
            <button class="teaFinder_bt">마이티</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button class="login_bt">로그인</button>
        </div>
    </div>
    <div class="view">
        <div class="order_main_info">
            <div class="main_img">
                <img th:src="${product.list.get(0).getUrl()}" alt=""></div>
            </td>
            <div class=" inner_info">
                <ul>
                    <hr>
                    <li><h1 class="productName" th:text="${product.title}">특가 배송테스트</h1></li>
                    <li>리뷰</li>
                    <li th:text="${product.getWeight()}">g </li>
                    <li th:text="${product.getOriginNation()}">원산지</li>
                    <li th:text="${product.getType()}">타입</li>
                    <li>상품 선택 <button>-</button><button>1</button><button>+</button></li>
                    <li class="amount" th:text="${product.price}">test원</li>
                    <li>배송정보 배송비 : 어쩌고</li>
                    <li><a class="coupon">쿠폰받기</a><a>장바구니 담기</a> <a th:href="@{/store/order/{id}(id =${product.id})}">결제하기</a></li>
                </ul>
            </div>
        </div>
        <a>상품정보</a>
        <div class="button_panel">
            <button>상품설명</button>
            <button>상세정보</button>
            <button>후기</button>
            <button>문의</button>
        </div>
        <div class="info">
            상품설명


            <p th:text="${product.detail}">

        </div>
        <div class="detail">
            <div class="product_info">
                <table>
                    <h3>상품 정보 보기</h3>
                    <tbody>
                    <tr>
                        <th>티 타입</th><td th:text="${product.type}"></td>
                    </tr>
                    <tr>
                        <th>상품이름</th><td th:text="${product.getProductName}"></td>
                    </tr>
                    <tr>
                        <th>원산지</th><td th:text="${product.getOriginNation}"></td>
                    </tr>
                    <tr>
                        <th>분류</th><td th:text="${product.category}"></td>
                    </tr>
                    <tr>
                        <th>중량</th><td th:text="${product.weight}">g</td>
                    </tr>
                    <tr>
                        <th>블렌디드</th><td th:text="${product.getBlending}">o</td>
                    </tr>
                    <tr>
                        <th>카페인</th><td th:text="${product.caffeine}">o</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="company_info">
                <table>
                    <h3>판매자 정보</h3>
                    <tbody>
                    <tr>
                        <th>업체명</th><td>다락방</td>
                    </tr>
                    <tr>
                        <th>사업자등록번호</th><td>0000000</td>
                    </tr>
                    <tr>
                        <th>통신판매정보</th><td>어쩌고</td>
                    </tr>
                    <tr>
                        <th>대표자</th><td>조민지</td>
                    </tr>
                    <tr>
                        <th>사업장소재지</th><td>제주</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="brand_page">
                <img src="">
                <a class="brand_button"></a>
                <div class="product_Container">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <div class="inner">
                        <tr th:each="productList:${product}">
                            <a th:href="@{/store/{id}(id =${productList.id})}"><div class="product_inner" >
                                <img th:src="@{|${productList.list.get(0).getUrl()}|}" alt="">
                                <p class="type" th:text="${productList.type}"></p>
                                <p class="title" th:text="${productList.title}"></p>
                                <strong th:text="${productList.price}">원</strong><br>
                                <a class="icons"><img src="/img/icons/Vector-1.png"></a><Span>531</Span> <a class="icons"><img src="/img/icons/Vector-2.png"></a><span> 105</span>
                                <a class="like_bt"><img src="/img/icons/Vector.png"></a>
                            </div></a>
                        </tr>
                        <i id="right" class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            후기₩
            <div class="review_borad">
                리뷰가 없습니다.
            </div>
        </div>
        <div class="inquiry">
            상품 Q&A
            <div class="inquiry_board">
                문희는 포도가 먹고싶은데
            </div>
        </div>
        <div class="delivery">
            <h3>배송정보</h3>
            <hr>
            <p>배송관련정보</p>
        </div>

        <div class="Q&A">
            <h3>교환, 환불, A/S 안내</h3>
            <hr>
            <p>교환 환불관련 정보</p>
        </div>

        <div class="best_tea_container">
            <h3>타입 BEST</h3>
            <button>실시간</button><button>일간</button><button>주간</button><button>월간</button><br>
            상품목록
        </div>

    </div>
</div>
</div>
</div>
<!--tail-->
<div id="coinfo-container">
    <div class="coinfoinner">
        <img src="/img/logo2.png">
        <p>E-mail : oncha.minji@gmail.com</p>
        <p>Copyright 2023 Oncha</p>
    </div>
</div>
</body>
</html>