<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav_barContainer">
        <div class="left"><a class="index_bt" href="/"><img class="top_logo" src="img/Logo.png"></a>
            <button class="myoncha_bt">마이온차</button>
            <button class="store_bt">스토어</button>
            <button class="teaHouse_bt">티하우스</button>
            <button class="subscribe_bt">커뮤니티</button>

        </div>
        <div class="right">
            <input class="search" type="text" >
            <button th:if="${user == null}" class="login_bt">로그인</button>
            <a th:unless="${user==null}" th:href="@{/mypage/{id}(id =${user.id})}">
                <!--<img th:src="@{|${user.list.get(0).getUrl()}|}" alt="">-->마이페이지</a>
        </div>
    </div>
    </div>
</header>
<main>
<a th:href="@{/store/order/{id}(id =${product.id})}">비회원으로 구매하기</a>

<a th:href="@{/login}">회원이신가요?</a>
</main>
<footer>
    <div id="coinfo_container">
        <div class="coinfoinner">
            <img src="/img/Logo.png">
            <p>E-mail : oncha.minji@gmail.com</p>
            <p>Copyright 2023 Oncha</p>
        </div>
    </div>
</footer>
</body>
<script src="/js/buttonManager.js"></script>
</html>