<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="/css/category/category.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="m_topBarContainer">
     <div><button class="index_bt"><img src="/img/icons/back.png"></button><label th:text="test"></label></div>
     <div><button class="search_bt"><img src="/img/icons/search.png"></button>
         <button class="cart_bt"><img src="/img/cart.png"></button></div>
 </section>
    </header>
    <main>
      <section id="teaFinder_section">
        <h1 class="finder_title">상황별 맞춤 차</h1>
        <div class="teaFinder_wrap">
        <button class="blended_bt">
            <img src="/img/test.png">
            <p>물대신 마셔도좋아</p>
        </button>
        <button class="blended_bt">
            <img src="/img/test.png">
            <p>자기전에 마셔도 괜찮아</p>
        </button>
    </div>
            </div>
        </section>
        <section id="category_section">
           <h1 class="category_title">카테고리</h1>
           <h2>블렌드</h2>
           <hr>
           <div class="ct_blend_wrap">
            <button class="blended_bt">
                <img src="/img/category_img/blended_icon.png">
                <p>블렌디드</p>
            </button>
            <button class="singleOrign_bt">
                <img src="/img/category_img/sigleorigin_icon.png">
                <p>싱글오리진</p>
            </button>
           </div>
           <h2>차종</h2>
           <hr>
           <div class="ct_">
            <button class="greenTea_bt">
                <img src="/img/category_img/green_tea_icon.png">
                <p>녹차</p>
            </button>
            <button class="blackTea_bt">
                <img src="/img/category_img/black_tea_icon.png">
                <p>홍차</p>
            </button>
            <button class="whiteTea_bt">
                <img src="/img/category_img/white_tea_icon.png">
                <p>백차</p>
            </button>
            <button class="darkTea_bt">
                <img src="/img/category_img/dark_tea_icon.png">
                <p>흑차</p>
            </button>
            <button class="yellowTea_bt">
                <img src="/img/category_img/yellow_tea_icon.png">
                <p>황차</p>
            </button>
            <button class="blueTea_bt">
                <img src="/img/category_img/blue_tea_icon.png">
                <p>청차</p>
            </button>
            <button class="herbTea_bt">
                <img src="/img/test.png">
                <p>허브차</p>
            </button>
           </div>
           <h2>유형</h2>
           <hr>
           <div class="ct_type_wrap">
            <button class="liquid_bt">
                <img src="/img/category_img/liquid_icon.png">
                <p>액상</p>
            </button>
            <button class="leafTea_bt">
                <img src="/img/category_img/leaf_icon.png">
                <p>잎차</p>
            </button>
            <button class="teaBag_bt">
                <img src="/img/category_img/teaBag_icon.png">
                <p>티백</p>
            </button>
            <button class="syrup_bt">
                <img src="/img/category_img/syrup_icon.png">
                <p>청</p>
            </button>
            <button class="powder_bt">
                <img src="/img/category_img/poweder_icon.png">
                <p>가루</p>
            </button>
           </div>
           <h2>카페인</h2>
           <hr>
           <div class="is_caffeine_wrap">
            <button class="isCaffeine_bt">
                <img src="/img/category_img/Caffeine_icon.png">
                <p>유</p>
            </button>
            <button class="noCaffeine_bt">
                <img src="/img/category_img/noCaffeine_icon.png">
                <p>무</p>
            </button>
           </div>
        </section>

    </main>
    <footer>
        <div id="m_nav_bar_container">
            <button class="index_bt"><img src="/img/navi_bar_img/home_bt.png"><p>홈</p></button>
            <button class="store/category_bt"><img src="/img/navi_bar_img/category_bt.png"><p>카테고리</p></button>
            <button class="teaFinder_bt"><img src="/img/navi_bar_img/teaFinder_bt.png"><p>취향분석</p></button>
            <button class="subscribe_bt"><img src="/img/navi_bar_img/like_bt.png"><p>관심목록</p></button>
            <button class="mypage_bt"><img src="/img/navi_bar_img/mypage_bt.png"><p>마이페이지</p></button>
        </div>
    </footer>
</body>
</html>