<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="m_topBarContainer">
     <div><button class="index_bt"><img src="/img/icons/back.png"></button><label th:text="test"></label></div>
     <div><button class="search_bt"><img src="/img/icons/search.png"></button>
         <button class="cart_bt"><img src="/img/cart.png"></button></div>
 </section>
    </header>
    <main>
      <section id="teaFinder_section">
        <div class="title_container"><h1>함께하고 싶은 특별한 차 레시피!</h1></div>
        <div class="recipe_container">
            <div class="inner">
                <div class="product_inner"><img src="/img/index/상품1.png">
                    <p class="title">얼그레이 레몬티</p>
                    <p class="type">얼그레이와 레몬을 합쳐 새로운 맛을 창조</p>
                </div>
                <div class="product_inner"><img src="/img/index/상품2.png">
                    <p class="title">라벤더로 휘낭시에 만들기</p>
                    <p class="type">라벤더 휘낭시에 레시피</p>
                </div>
            </div>
        </section>
        <section id="category_section">
           <h1 class="category_title">카테고리</h1>
           <div class="ct_blend_wrap">

           </div>
           <div class="ct_"></div>
           <div class="ct_type_wrap"></div>
           <div class="is_caffeine_wrap"></div>
        </section>

    </main>
    <footer>
        <div id="m_nav_bar_container">
            <button class="index_bt"><img src="/img/프로덕트칸.png"><p>홈</p></button>
            <button class="store_bt"><img src="/img/프로덕트칸.png"><p>카테고리</p></button>
            <button class="teaFinder_bt"><img src="/img/프로덕트칸.png"><p>취향분석</p></button>
            <button class="subscribe_bt"><img src="/img/프로덕트칸.png"><p>관심목록</p></button>
            <button class="mypage_bt"><img src="/img/프로덕트칸.png"><p>마이페이지</p></button>
        </div>
    </footer>
</body>
</html>